configuration{
    modi: "drun";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "wezterm";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "";
    sidebar-mode: true;
}

@theme "catppuccin-mocha"
